In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_csv('merged data.csv')
data = data.drop(columns = ['States', 'CensusId', 'IncomeErr', 'IncomePerCapErr'])

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 802 entries, 0 to 801
Data columns (total 40 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   County                                        802 non-null    object
 1   State                                         802 non-null    object
 2   Female high school graduate or higher         802 non-null    float64
 3   Female Percent bachelor's degree or higher    802 non-null    float64
 4   Male Percent high school graduate or higher   802 non-null    float64
 5   Male Percent bachelor's degree or higher      802 non-null    float64
 6   Total Percent high school graduate or higher  802 non-null    float64
 7   Total Percent bachelor's degree or higher     802 non-null    float64
 8   TotalPop                                      802 non-null    int64
 9   Men                                           802 non-null    int64
 10  Women                                         802 non-null    int64
 11  Hispanic                                      802 non-null    float64
 12  White                                         802 non-null    float64
 13  Black                                         802 non-null    float64
 14  Native                                        802 non-null    float64
 15  Asian                                         802 non-null    float64
 16  Pacific                                       802 non-null    float64
 17  Citizen                                       802 non-null    int64
 18  Income                                        802 non-null    int64
 19  IncomePerCap                                  802 non-null    int64
 20  Poverty                                       802 non-null    float64
 21  ChildPoverty                                  802 non-null    float64
 22  Professional                                  802 non-null    float64
 23  Service                                       802 non-null    float64
 24  Office                                        802 non-null    float64
 25  Construction                                  802 non-null    float64
 26  Production                                    802 non-null    float64
 27  Drive                                         802 non-null    float64
 28  Carpool                                       802 non-null    float64
 29  Transit                                       802 non-null    float64
 30  Walk                                          802 non-null    float64
 31  OtherTransp                                   802 non-null    float64
 32  WorkAtHome                                    802 non-null    float64
 33  MeanCommute                                   802 non-null    float64
 34  Employed                                      802 non-null    int64
 35  PrivateWork                                   802 non-null    float64
 36  PublicWork                                    802 non-null    float64
 37  SelfEmployed                                  802 non-null    float64
 38  FamilyWork                                    802 non-null    float64
 39  Unemployment                                  802 non-null    float64
dtypes: float64(31), int64(7), object(2)
memory usage: 250.8+ KB

In [4]:
data.head()

,County,State,Female high school graduate or higher,Female Percent bachelor's degree or higher,Male Percent high school graduate or higher,Male Percent bachelor's degree or higher,Total Percent high school graduate or higher,Total Percent bachelor's degree or higher,TotalPop,Men,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,Baldwin,Alabama,0.921,0.314,0.894,0.275,0.908,0.295,195121,95314,...,1.0,1.4,3.9,26.4,85953,81.5,12.3,5.8,0.4,7.5
1,Calhoun,Alabama,0.824,0.173,0.816,0.173,0.820,0.173,116648,56274,...,1.2,1.2,2.7,24.1,47401,74.1,20.8,5.0,0.1,12.3
2,Cullman,Alabama,0.810,0.121,0.840,0.135,0.825,0.128,80965,40081,...,1.5,1.0,2.6,26.4,32282,81.6,12.2,5.8,0.4,7.3
3,DeKalb,Alabama,0.716,0.110,0.668,0.090,0.693,0.100,71068,35474,...,0.6,0.9,2.1,22.8,27778,78.8,12.6,8.5,0.1,7.7
4,Elmore,Alabama,0.881,0.209,0.793,0.206,0.840,0.207,80763,39362,...,0.4,1.2,2.2,28.5,33636,70.4,24.1,5.5,0.0,8.3

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 802 entries, 0 to 801
Data columns (total 40 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   County                                        802 non-null    object
 1   State                                         802 non-null    object
 2   Female high school graduate or higher         802 non-null    float64
 3   Female Percent bachelor's degree or higher    802 non-null    float64
 4   Male Percent high school graduate or higher   802 non-null    float64
 5   Male Percent bachelor's degree or higher      802 non-null    float64
 6   Total Percent high school graduate or higher  802 non-null    float64
 7   Total Percent bachelor's degree or higher     802 non-null    float64
 8   TotalPop                                      802 non-null    int64
 9   Men                                           802 non-null    int64
 10  Women                                         802 non-null    int64
 11  Hispanic                                      802 non-null    float64
 12  White                                         802 non-null    float64
 13  Black                                         802 non-null    float64
 14  Native                                        802 non-null    float64
 15  Asian                                         802 non-null    float64
 16  Pacific                                       802 non-null    float64
 17  Citizen                                       802 non-null    int64
 18  Income                                        802 non-null    int64
 19  IncomePerCap                                  802 non-null    int64
 20  Poverty                                       802 non-null    float64
 21  ChildPoverty                                  802 non-null    float64
 22  Professional                                  802 non-null    float64
 23  Service                                       802 non-null    float64
 24  Office                                        802 non-null    float64
 25  Construction                                  802 non-null    float64
 26  Production                                    802 non-null    float64
 27  Drive                                         802 non-null    float64
 28  Carpool                                       802 non-null    float64
 29  Transit                                       802 non-null    float64
 30  Walk                                          802 non-null    float64
 31  OtherTransp                                   802 non-null    float64
 32  WorkAtHome                                    802 non-null    float64
 33  MeanCommute                                   802 non-null    float64
 34  Employed                                      802 non-null    int64
 35  PrivateWork                                   802 non-null    float64
 36  PublicWork                                    802 non-null    float64
 37  SelfEmployed                                  802 non-null    float64
 38  FamilyWork                                    802 non-null    float64
 39  Unemployment                                  802 non-null    float64
dtypes: float64(31), int64(7), object(2)
memory usage: 250.8+ KB

In [11]:
#Dropping State and County data because we care about the factors that most correlate with higher incoe per capita that are not location related. We are also dropping factors that highly correlated with Income Per Capita that were not directly influencing it.
y = data['IncomePerCap']
X = data.drop(columns=['County', 'State', 'IncomePerCap', 'P'])
X

,Female high school graduate or higher,Female Percent bachelor's degree or higher,Male Percent high school graduate or higher,Male Percent bachelor's degree or higher,Total Percent high school graduate or higher,Total Percent bachelor's degree or higher,TotalPop,Men,Women,Hispanic,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,0.921,0.314,0.894,0.275,0.908,0.295,195121,95314,99807,4.5,...,1.0,1.4,3.9,26.4,85953,81.5,12.3,5.8,0.4,7.5
1,0.824,0.173,0.816,0.173,0.820,0.173,116648,56274,60374,3.5,...,1.2,1.2,2.7,24.1,47401,74.1,20.8,5.0,0.1,12.3
2,0.810,0.121,0.840,0.135,0.825,0.128,80965,40081,40884,4.3,...,1.5,1.0,2.6,26.4,32282,81.6,12.2,5.8,0.4,7.3
3,0.716,0.110,0.668,0.090,0.693,0.100,71068,35474,35594,14.0,...,0.6,0.9,2.1,22.8,27778,78.8,12.6,8.5,0.1,7.7
4,0.881,0.209,0.793,0.206,0.840,0.207,80763,39362,41401,2.8,...,0.4,1.2,2.2,28.5,33636,70.4,24.1,5.5,0.0,8.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
797,0.962,0.422,0.961,0.427,0.961,0.424,393873,193441,200432,4.5,...,1.3,0.9,4.2,24.0,209461,87.4,8.3,4.2,0.1,4.2
798,0.930,0.270,0.902,0.243,0.916,0.256,169004,85019,83985,3.8,...,2.4,1.3,3.0,18.6,85970,84.9,11.4,3.6,0.1,4.7
799,0.955,0.216,0.918,0.226,0.937,0.221,74012,36594,37418,2.6,...,4.1,1.9,3.6,18.9,36445,83.5,10.8,5.5,0.2,6.6
800,0.905,0.279,0.938,0.270,0.921,0.275,95431,47911,47520,14.0,...,2.4,2.0,3.0,15.5,46206,67.6,27.7,4.5,0.2,5.0
801,0.897,0.212,0.892,0.231,0.894,0.222,80011,40495,39516,8.0,...,1.6,1.4,3.1,17.6,41415,79.0,15.1,5.8,0.1,5.1

In [ ]:
#We don't need to scale our data because we will be running regression trying to see if we can predict the Income Per Capita
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 123)

In [ ]:
X_train

In [ ]:
X_test