In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_csv('merged data.csv')
data = data.drop(columns = ['States', 'CensusId', 'IncomeErr', 'IncomePerCapErr'])

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 802 entries, 0 to 801
Data columns (total 40 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   County                                        802 non-null    object
 1   State                                         802 non-null    object
 2   Female high school graduate or higher         802 non-null    float64
 3   Female Percent bachelor's degree or higher    802 non-null    float64
 4   Male Percent high school graduate or higher   802 non-null    float64
 5   Male Percent bachelor's degree or higher      802 non-null    float64
 6   Total Percent high school graduate or higher  802 non-null    float64
 7   Total Percent bachelor's degree or higher     802 non-null    float64
 8   TotalPop                                      802 non-null    int64
 9   Men                                           802 non-null    int64
 10  Women                                         802 non-null    int64
 11  Hispanic                                      802 non-null    float64
 12  White                                         802 non-null    float64
 13  Black                                         802 non-null    float64
 14  Native                                        802 non-null    float64
 15  Asian                                         802 non-null    float64
 16  Pacific                                       802 non-null    float64
 17  Citizen                                       802 non-null    int64
 18  Income                                        802 non-null    int64
 19  IncomePerCap                                  802 non-null    int64
 20  Poverty                                       802 non-null    float64
 21  ChildPoverty                                  802 non-null    float64
 22  Professional                                  802 non-null    float64
 23  Service                                       802 non-null    float64
 24  Office                                        802 non-null    float64
 25  Construction                                  802 non-null    float64
 26  Production                                    802 non-null    float64
 27  Drive                                         802 non-null    float64
 28  Carpool                                       802 non-null    float64
 29  Transit                                       802 non-null    float64
 30  Walk                                          802 non-null    float64
 31  OtherTransp                                   802 non-null    float64
 32  WorkAtHome                                    802 non-null    float64
 33  MeanCommute                                   802 non-null    float64
 34  Employed                                      802 non-null    int64
 35  PrivateWork                                   802 non-null    float64
 36  PublicWork                                    802 non-null    float64
 37  SelfEmployed                                  802 non-null    float64
 38  FamilyWork                                    802 non-null    float64
 39  Unemployment                                  802 non-null    float64
dtypes: float64(31), int64(7), object(2)
memory usage: 250.8+ KB

In [4]:
data.head()

,County,State,Female high school graduate or higher,Female Percent bachelor's degree or higher,Male Percent high school graduate or higher,Male Percent bachelor's degree or higher,Total Percent high school graduate or higher,Total Percent bachelor's degree or higher,TotalPop,Men,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,Baldwin,Alabama,0.921,0.314,0.894,0.275,0.908,0.295,195121,95314,...,1.0,1.4,3.9,26.4,85953,81.5,12.3,5.8,0.4,7.5
1,Calhoun,Alabama,0.824,0.173,0.816,0.173,0.820,0.173,116648,56274,...,1.2,1.2,2.7,24.1,47401,74.1,20.8,5.0,0.1,12.3
2,Cullman,Alabama,0.810,0.121,0.840,0.135,0.825,0.128,80965,40081,...,1.5,1.0,2.6,26.4,32282,81.6,12.2,5.8,0.4,7.3
3,DeKalb,Alabama,0.716,0.110,0.668,0.090,0.693,0.100,71068,35474,...,0.6,0.9,2.1,22.8,27778,78.8,12.6,8.5,0.1,7.7
4,Elmore,Alabama,0.881,0.209,0.793,0.206,0.840,0.207,80763,39362,...,0.4,1.2,2.2,28.5,33636,70.4,24.1,5.5,0.0,8.3

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 802 entries, 0 to 801
Data columns (total 40 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   County                                        802 non-null    object
 1   State                                         802 non-null    object
 2   Female high school graduate or higher         802 non-null    float64
 3   Female Percent bachelor's degree or higher    802 non-null    float64
 4   Male Percent high school graduate or higher   802 non-null    float64
 5   Male Percent bachelor's degree or higher      802 non-null    float64
 6   Total Percent high school graduate or higher  802 non-null    float64
 7   Total Percent bachelor's degree or higher     802 non-null    float64
 8   TotalPop                                      802 non-null    int64
 9   Men                                           802 non-null    int64
 10  Women                                         802 non-null    int64
 11  Hispanic                                      802 non-null    float64
 12  White                                         802 non-null    float64
 13  Black                                         802 non-null    float64
 14  Native                                        802 non-null    float64
 15  Asian                                         802 non-null    float64
 16  Pacific                                       802 non-null    float64
 17  Citizen                                       802 non-null    int64
 18  Income                                        802 non-null    int64
 19  IncomePerCap                                  802 non-null    int64
 20  Poverty                                       802 non-null    float64
 21  ChildPoverty                                  802 non-null    float64
 22  Professional                                  802 non-null    float64
 23  Service                                       802 non-null    float64
 24  Office                                        802 non-null    float64
 25  Construction                                  802 non-null    float64
 26  Production                                    802 non-null    float64
 27  Drive                                         802 non-null    float64
 28  Carpool                                       802 non-null    float64
 29  Transit                                       802 non-null    float64
 30  Walk                                          802 non-null    float64
 31  OtherTransp                                   802 non-null    float64
 32  WorkAtHome                                    802 non-null    float64
 33  MeanCommute                                   802 non-null    float64
 34  Employed                                      802 non-null    int64
 35  PrivateWork                                   802 non-null    float64
 36  PublicWork                                    802 non-null    float64
 37  SelfEmployed                                  802 non-null    float64
 38  FamilyWork                                    802 non-null    float64
 39  Unemployment                                  802 non-null    float64
dtypes: float64(31), int64(7), object(2)
memory usage: 250.8+ KB

In [6]:
#Dropping State and County data because we care about the factors that most correlate with higher incoe per capita that are not location related. We are also dropping factors that highly correlated with Income Per Capita that were not directly influencing it.
y = data['IncomePerCap']
X = data.drop(columns=['County', 'State', 'IncomePerCap', 'Poverty', 'ChildPoverty', 'Income', 'Citizen'])
X

,Female high school graduate or higher,Female Percent bachelor's degree or higher,Male Percent high school graduate or higher,Male Percent bachelor's degree or higher,Total Percent high school graduate or higher,Total Percent bachelor's degree or higher,TotalPop,Men,Women,Hispanic,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,0.921,0.314,0.894,0.275,0.908,0.295,195121,95314,99807,4.5,...,1.0,1.4,3.9,26.4,85953,81.5,12.3,5.8,0.4,7.5
1,0.824,0.173,0.816,0.173,0.820,0.173,116648,56274,60374,3.5,...,1.2,1.2,2.7,24.1,47401,74.1,20.8,5.0,0.1,12.3
2,0.810,0.121,0.840,0.135,0.825,0.128,80965,40081,40884,4.3,...,1.5,1.0,2.6,26.4,32282,81.6,12.2,5.8,0.4,7.3
3,0.716,0.110,0.668,0.090,0.693,0.100,71068,35474,35594,14.0,...,0.6,0.9,2.1,22.8,27778,78.8,12.6,8.5,0.1,7.7
4,0.881,0.209,0.793,0.206,0.840,0.207,80763,39362,41401,2.8,...,0.4,1.2,2.2,28.5,33636,70.4,24.1,5.5,0.0,8.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
797,0.962,0.422,0.961,0.427,0.961,0.424,393873,193441,200432,4.5,...,1.3,0.9,4.2,24.0,209461,87.4,8.3,4.2,0.1,4.2
798,0.930,0.270,0.902,0.243,0.916,0.256,169004,85019,83985,3.8,...,2.4,1.3,3.0,18.6,85970,84.9,11.4,3.6,0.1,4.7
799,0.955,0.216,0.918,0.226,0.937,0.221,74012,36594,37418,2.6,...,4.1,1.9,3.6,18.9,36445,83.5,10.8,5.5,0.2,6.6
800,0.905,0.279,0.938,0.270,0.921,0.275,95431,47911,47520,14.0,...,2.4,2.0,3.0,15.5,46206,67.6,27.7,4.5,0.2,5.0
801,0.897,0.212,0.892,0.231,0.894,0.222,80011,40495,39516,8.0,...,1.6,1.4,3.1,17.6,41415,79.0,15.1,5.8,0.1,5.1

We see that for variance there are a few major outlier columns. TotalPop, Men, women, and employed.

In [7]:
X.var()

Female high school graduate or higher           2.466026e-03
Female Percent bachelor's degree or higher      1.012651e-02
Male Percent high school graduate or higher     3.078193e-03
Male Percent bachelor's degree or higher        1.195398e-02
Total Percent high school graduate or higher    2.642862e-03
Total Percent bachelor's degree or higher       1.072017e-02
TotalPop                                        3.374851e+11
Men                                             8.131962e+10
Women                                           8.752618e+10
Hispanic                                        1.756182e+02
White                                           3.472682e+02
Black                                           1.416735e+02
Native                                          2.065971e+01
Asian                                           1.709451e+01
Pacific                                         4.918804e-01
Professional                                    4.651006e+01
Service                                         8.527202e+00
Office                                          4.375307e+00
Construction                                    7.825618e+00
Production                                      2.040041e+01
Drive                                           5.470139e+01
Carpool                                         3.621371e+00
Transit                                         3.132206e+01
Walk                                            3.774487e+00
OtherTransp                                     1.148851e+00
WorkAtHome                                      2.649629e+00
MeanCommute                                     2.239736e+01
Employed                                        7.408340e+10
PrivateWork                                     2.957627e+01
PublicWork                                      2.708636e+01
SelfEmployed                                    2.775730e+00
FamilyWork                                      8.537520e-03
Unemployment                                    6.039750e+00
dtype: float64

In [8]:
X['TotalPop'] = np.log(X['TotalPop'])
X['Men'] = np.log(X['Men'])
X['Women'] = np.log(X['Women'])
X['Employed'] = np.log(X['Employed'])

In [9]:
X.var()

Female high school graduate or higher             0.002466
Female Percent bachelor's degree or higher        0.010127
Male Percent high school graduate or higher       0.003078
Male Percent bachelor's degree or higher          0.011954
Total Percent high school graduate or higher      0.002643
Total Percent bachelor's degree or higher         0.010720
TotalPop                                          0.806936
Men                                               0.799014
Women                                             0.815900
Hispanic                                        175.618242
White                                           347.268214
Black                                           141.673492
Native                                           20.659710
Asian                                            17.094506
Pacific                                           0.491880
Professional                                     46.510058
Service                                           8.527202
Office                                            4.375307
Construction                                      7.825618
Production                                       20.400408
Drive                                            54.701394
Carpool                                           3.621371
Transit                                          31.322055
Walk                                              3.774487
OtherTransp                                       1.148851
WorkAtHome                                        2.649629
MeanCommute                                      22.397357
Employed                                          0.871157
PrivateWork                                      29.576271
PublicWork                                       27.086360
SelfEmployed                                      2.775730
FamilyWork                                        0.008538
Unemployment                                      6.039750
dtype: float64

In [10]:
#We don't need to scale our data because we will be running regression trying to see if we can predict the Income Per Capita
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 123)

In [11]:
X_train

,Female high school graduate or higher,Female Percent bachelor's degree or higher,Male Percent high school graduate or higher,Male Percent bachelor's degree or higher,Total Percent high school graduate or higher,Total Percent bachelor's degree or higher,TotalPop,Men,Women,Hispanic,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
590,0.901,0.278,0.883,0.292,0.893,0.284,12.510221,11.784021,11.849069,8.0,...,3.3,1.1,3.3,21.6,11.792699,78.9,17.2,3.8,0.1,7.1
85,0.835,0.242,0.806,0.214,0.820,0.228,13.063051,12.376267,12.363499,38.6,...,1.2,1.2,4.4,28.8,12.344717,83.6,11.3,5.0,0.1,7.9
741,0.916,0.348,0.919,0.286,0.917,0.318,12.348444,11.631961,11.678101,5.1,...,1.4,1.2,3.2,25.0,11.570751,73.1,22.6,4.2,0.1,7.5
132,0.925,0.362,0.886,0.329,0.905,0.345,11.237185,10.600602,10.484082,22.0,...,4.4,10.7,5.6,18.8,10.558517,76.7,14.0,9.1,0.2,6.0
705,0.860,0.307,0.847,0.308,0.854,0.308,14.464981,13.750722,13.792508,27.6,...,1.2,1.4,3.9,26.5,13.737269,83.1,11.4,5.4,0.1,6.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,0.899,0.366,0.886,0.382,0.893,0.374,13.706748,12.982605,13.043664,16.6,...,2.2,1.2,3.6,22.7,12.993891,80.7,14.2,4.8,0.2,9.3
322,0.920,0.207,0.876,0.149,0.898,0.178,11.501885,10.824388,10.792839,7.6,...,3.0,0.8,3.0,27.1,10.671162,82.3,12.2,5.4,0.1,8.6
382,0.962,0.451,0.968,0.407,0.965,0.429,11.625951,10.938947,10.926622,3.0,...,5.2,5.4,5.5,17.5,10.987037,75.6,17.2,7.2,0.0,8.2
365,0.951,0.260,0.914,0.223,0.934,0.242,11.301019,10.578674,10.636240,2.8,...,0.7,1.5,4.6,26.3,10.534174,81.4,12.2,6.3,0.1,6.4
510,0.855,0.133,0.834,0.118,0.845,0.125,11.510693,10.821018,10.814062,3.8,...,1.9,1.5,3.1,25.2,10.607129,84.5,10.4,5.0,0.1,8.9

In [12]:
X_test

,Female high school graduate or higher,Female Percent bachelor's degree or higher,Male Percent high school graduate or higher,Male Percent bachelor's degree or higher,Total Percent high school graduate or higher,Total Percent bachelor's degree or higher,TotalPop,Men,Women,Hispanic,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
748,0.870,0.234,0.827,0.199,0.850,0.217,11.500205,10.768717,10.843983,5.9,...,2.5,2.0,2.4,19.2,10.743567,82.4,13.8,3.7,0.1,8.3
363,0.914,0.285,0.896,0.293,0.905,0.289,11.259400,10.533935,10.597559,2.2,...,3.0,1.6,2.1,18.5,10.536380,81.2,13.9,4.7,0.2,6.3
289,0.952,0.588,0.952,0.620,0.952,0.604,12.625161,11.912755,11.950909,6.3,...,1.0,1.0,5.5,30.5,12.003210,71.9,23.3,4.6,0.1,4.9
269,0.892,0.281,0.880,0.274,0.886,0.278,12.001548,11.294981,11.321644,2.9,...,1.7,0.8,2.9,23.3,11.282845,86.1,10.6,3.2,0.1,7.7
249,0.896,0.229,0.856,0.190,0.877,0.210,11.442642,10.735244,10.763546,7.1,...,1.7,1.2,3.0,20.6,10.745895,82.6,12.2,5.0,0.2,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
303,0.931,0.533,0.929,0.543,0.930,0.538,14.257704,13.539153,13.589330,7.3,...,4.9,2.2,5.2,29.3,13.632492,82.8,10.7,6.5,0.1,6.1
267,0.854,0.244,0.904,0.200,0.879,0.223,11.585516,10.890255,10.894478,5.6,...,2.6,1.3,3.2,22.4,10.736418,72.8,22.7,4.5,0.0,8.2
598,0.890,0.211,0.886,0.202,0.888,0.207,11.398210,10.669932,10.739002,1.2,...,2.4,1.0,2.9,22.8,10.579997,83.6,10.8,5.5,0.1,7.0
150,0.856,0.181,0.789,0.158,0.824,0.170,11.526197,10.820818,10.845134,7.9,...,0.6,1.9,4.0,27.3,10.705355,81.6,14.3,4.0,0.1,8.8
766,0.940,0.291,0.925,0.278,0.933,0.285,13.083273,12.381038,12.399132,5.1,...,2.9,1.6,5.4,21.2,12.262084,78.4,15.5,6.0,0.2,8.4

In [13]:
scaler = StandardScaler()

In [14]:
scaled_X_train = scaler.fit_transform(X_train)
scaled_X_test = scaler.transform(X_test)

In [15]:
print(type(X_train))
print(type(X_test))
print(type(scaled_X_train))
print(type(scaled_X_test))
print(type(y_train))
print(type(y_test))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

In [16]:
scaled_X_train_df = pd.DataFrame(scaled_X_train)
scaled_X_test_df = pd.DataFrame(scaled_X_test)

In [17]:
X_train.to_csv('X_train.csv', index=False)
X_test.to_csv('X_test.csv', index=False)
y_train.to_csv('y_train.csv', index=False)
y_test.to_csv('y_test.csv', index=False)
scaled_X_test_df.to_csv('scaled_X_test.csv', index=False)
scaled_X_train_df.to_csv('scaled_X_train.csv', index=False)

Now we will make the X DataFrame that we will feed our classifiers.

In [18]:
X = data.drop(columns=['County', 'State', 'Poverty', 'ChildPoverty', 'Income', 'Citizen'])
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 802 entries, 0 to 801
Data columns (total 34 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Female high school graduate or higher         802 non-null    float64
 1   Female Percent bachelor's degree or higher    802 non-null    float64
 2   Male Percent high school graduate or higher   802 non-null    float64
 3   Male Percent bachelor's degree or higher      802 non-null    float64
 4   Total Percent high school graduate or higher  802 non-null    float64
 5   Total Percent bachelor's degree or higher     802 non-null    float64
 6   TotalPop                                      802 non-null    int64
 7   Men                                           802 non-null    int64
 8   Women                                         802 non-null    int64
 9   Hispanic                                      802 non-null    float64
 10  White                                         802 non-null    float64
 11  Black                                         802 non-null    float64
 12  Native                                        802 non-null    float64
 13  Asian                                         802 non-null    float64
 14  Pacific                                       802 non-null    float64
 15  IncomePerCap                                  802 non-null    int64
 16  Professional                                  802 non-null    float64
 17  Service                                       802 non-null    float64
 18  Office                                        802 non-null    float64
 19  Construction                                  802 non-null    float64
 20  Production                                    802 non-null    float64
 21  Drive                                         802 non-null    float64
 22  Carpool                                       802 non-null    float64
 23  Transit                                       802 non-null    float64
 24  Walk                                          802 non-null    float64
 25  OtherTransp                                   802 non-null    float64
 26  WorkAtHome                                    802 non-null    float64
 27  MeanCommute                                   802 non-null    float64
 28  Employed                                      802 non-null    int64
 29  PrivateWork                                   802 non-null    float64
 30  PublicWork                                    802 non-null    float64
 31  SelfEmployed                                  802 non-null    float64
 32  FamilyWork                                    802 non-null    float64
 33  Unemployment                                  802 non-null    float64
dtypes: float64(29), int64(5)
memory usage: 213.2 KB

In [19]:
X.var()

Female high school graduate or higher           2.466026e-03
Female Percent bachelor's degree or higher      1.012651e-02
Male Percent high school graduate or higher     3.078193e-03
Male Percent bachelor's degree or higher        1.195398e-02
Total Percent high school graduate or higher    2.642862e-03
Total Percent bachelor's degree or higher       1.072017e-02
TotalPop                                        3.374851e+11
Men                                             8.131962e+10
Women                                           8.752618e+10
Hispanic                                        1.756182e+02
White                                           3.472682e+02
Black                                           1.416735e+02
Native                                          2.065971e+01
Asian                                           1.709451e+01
Pacific                                         4.918804e-01
IncomePerCap                                    4.337608e+07
Professional                                    4.651006e+01
Service                                         8.527202e+00
Office                                          4.375307e+00
Construction                                    7.825618e+00
Production                                      2.040041e+01
Drive                                           5.470139e+01
Carpool                                         3.621371e+00
Transit                                         3.132206e+01
Walk                                            3.774487e+00
OtherTransp                                     1.148851e+00
WorkAtHome                                      2.649629e+00
MeanCommute                                     2.239736e+01
Employed                                        7.408340e+10
PrivateWork                                     2.957627e+01
PublicWork                                      2.708636e+01
SelfEmployed                                    2.775730e+00
FamilyWork                                      8.537520e-03
Unemployment                                    6.039750e+00
dtype: float64

In [20]:
X['TotalPop'] = np.log(X['TotalPop'])
X['Men'] = np.log(X['Men'])
X['Women'] = np.log(X['Women'])
X['Employed'] = np.log(X['Employed'])
X['IncomePerCap'] = np.log(X['IncomePerCap'])
X.var()

Female high school graduate or higher             0.002466
Female Percent bachelor's degree or higher        0.010127
Male Percent high school graduate or higher       0.003078
Male Percent bachelor's degree or higher          0.011954
Total Percent high school graduate or higher      0.002643
Total Percent bachelor's degree or higher         0.010720
TotalPop                                          0.806936
Men                                               0.799014
Women                                             0.815900
Hispanic                                        175.618242
White                                           347.268214
Black                                           141.673492
Native                                           20.659710
Asian                                            17.094506
Pacific                                           0.491880
IncomePerCap                                      0.048280
Professional                                     46.510058
Service                                           8.527202
Office                                            4.375307
Construction                                      7.825618
Production                                       20.400408
Drive                                            54.701394
Carpool                                           3.621371
Transit                                          31.322055
Walk                                              3.774487
OtherTransp                                       1.148851
WorkAtHome                                        2.649629
MeanCommute                                      22.397357
Employed                                          0.871157
PrivateWork                                      29.576271
PublicWork                                       27.086360
SelfEmployed                                      2.775730
FamilyWork                                        0.008538
Unemployment                                      6.039750
dtype: float64

In [21]:
column_names = X.columns
X = scaler.fit_transform(X)

In [22]:
X = pd.DataFrame(X)
X.columns = column_names
X.to_csv('X_classifier.csv', index=False)

In [23]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 802 entries, 0 to 801
Data columns (total 34 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Female high school graduate or higher         802 non-null    float64
 1   Female Percent bachelor's degree or higher    802 non-null    float64
 2   Male Percent high school graduate or higher   802 non-null    float64
 3   Male Percent bachelor's degree or higher      802 non-null    float64
 4   Total Percent high school graduate or higher  802 non-null    float64
 5   Total Percent bachelor's degree or higher     802 non-null    float64
 6   TotalPop                                      802 non-null    float64
 7   Men                                           802 non-null    float64
 8   Women                                         802 non-null    float64
 9   Hispanic                                      802 non-null    float64
 10  White                                         802 non-null    float64
 11  Black                                         802 non-null    float64
 12  Native                                        802 non-null    float64
 13  Asian                                         802 non-null    float64
 14  Pacific                                       802 non-null    float64
 15  IncomePerCap                                  802 non-null    float64
 16  Professional                                  802 non-null    float64
 17  Service                                       802 non-null    float64
 18  Office                                        802 non-null    float64
 19  Construction                                  802 non-null    float64
 20  Production                                    802 non-null    float64
 21  Drive                                         802 non-null    float64
 22  Carpool                                       802 non-null    float64
 23  Transit                                       802 non-null    float64
 24  Walk                                          802 non-null    float64
 25  OtherTransp                                   802 non-null    float64
 26  WorkAtHome                                    802 non-null    float64
 27  MeanCommute                                   802 non-null    float64
 28  Employed                                      802 non-null    float64
 29  PrivateWork                                   802 non-null    float64
 30  PublicWork                                    802 non-null    float64
 31  SelfEmployed                                  802 non-null    float64
 32  FamilyWork                                    802 non-null    float64
 33  Unemployment                                  802 non-null    float64
dtypes: float64(34)
memory usage: 213.2 KB